.VD {
    border-bottom: #d3d3d3 solid 3px;
    background-color: #f8f8f8;
    box-shadow: 1px 22px 22px -8px rgba(0, 0, 0, 0.87);
    -webkit-box-shadow: 1px 22px 22px -8px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 1px 22px 22px -8px rgba(0, 0, 0, 0.87);
    border-radius: 15px;
    width: 100%;

}

#my-video {
    width: 100%;
    height: 450px;
}

.vd_info {
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px;
    padding: 25px auto;

}

.vd_info p {
    margin: 5px auto;
    font-size: 16px;
    padding: 10px;
    color: #2c2b2b;
    overflow: hidden;

}

.vd_info h3 {
    font-size: 25px;
    margin: 5px auto;
    padding: 10px;
    color: #2b2929;
    overflow: hidden;
}

.marks_mod {
    margin: 50px auto 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.marks_mod label {
    color: #000;
    font-size: 3rem;
    height: 50px;



}

.marks_mod input {
    font-size: 2rem;
    color: rgb(243, 9, 192);
    height: 50px;
    margin-left: 50px;

}

#bUTTONSn button {
    height: 50px;
    color: white;
    font-size: 2rem;
    margin: 20px;

    background-color: #f44336;
    border-radius: 5px;
}

#bUTTONSn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VD input {
    border: 5px solid white;
    -webkit-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.1),
        0 0 16px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 0 10px 0;
}

.messflex {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 100px;

}

.messflex h4 {
    color: #000;
    font-size: 24px;
}

.mod_marks_view {
    display: flex;
    justify-content: center;

}

.bgmarks {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    height: auto;
    justify-content: center;
    margin-bottom: 100px;

}

.bgmarks ol {
    font-size: medium;
    font-weight: bold;
    padding: 50px;
    margin: 20px;
}

.bgmarks ol li {
    color: #000;
    font-size: 24px;
}