{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> FIALED !!!!</title>
    <link rel="stylesheet" href="{% static  'css/homepage.css' %}">
    <style>
        .mess {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>

    <div class="Header">
        <div>
            <h1>PROTO SEEK</h1>
        </div>

    </div>

    <div class="about">
        <h1>VIDEO ASSESSMENT PLATFORM | OPEN SOURCE </h1>

    </div>

    <div class="mess">
        <h1>SOMETHING IS WRONG PLZ CHECK TOKEN </h1>
    </div>
</body>

</html>