<!-- FOOTER START -->
<div class="footer">
    <div class="contain">
        <div class="col">
            <h1> TEACHER </h1>
            <ul>
               <a href="/teacher/">
                   <li>REGISTER</li>
               </a>
                <a href="/teacher/newclassroom/">
                    <li>NEW CLASS</li>
                </a>
                <a href="/teacher/join/">
                    <li>JOIN CLASS</li>
                </a>
            </ul>
        </div>
        <div class="col">
            <h1>STUDENT</h1>
            <ul>
                <a href="/student/">
                  <li style="text-transform: uppercase;">student page</li>
                </a>
                <a href="/account/login/">
                    <li style="text-transform: uppercase;">log in</li>
                </a>
                <a href="/account/reg/">
                    <li style="text-transform: uppercase;">log out</li>
                </a>
                <a href="/upload/">
                    <li style="text-transform: uppercase;">upload </li>
                </a>
               
            </ul>
        </div>
        <div class="col">
            <h1> TEACHER MODES</h1>
            <ul>
                 <a href="/teacher/info/">
                      <li style="text-transform: uppercase;"> analytics</li>
                 </a>
                 <a href="/admin/">
                     <li style="text-transform: uppercase;">ADMIN PAGE</li>
                 </a>
            </ul>

        </div>
        <div class="col">
            <h1>ABOUT </h1>
            <ul>
                <a href="https://github.com/engineerscodes" target="_blank">
                    <li style="text-transform: uppercase;"> CODE</li>
                </a>
                <a href="mailto:mknaveen837@gmail.com" target="_blank">
                    <li style="text-transform: uppercase;"> admin Mail</li>
                </a>
                <a href="https://github.com/engineerscodes/engineerscodes/issues" target="_blank">
                    <li style="text-transform: uppercase;"> report bug</li>
                </a>
               
                
            </ul>
        </div>
        <div class="col">
            <h1>Support</h1>
            <ul>
                 <a href="https://github.com/engineerscodes/" target="_blank">
                     <li style="text-transform: uppercase;">T&C</li>
                 </a>
            </ul>
        </div>
        
        <div class="clearfix"> </div>
    </div>
</div>