<nav>
    <div class="logo"> PROTO -SEEK</div>
    <label for="btn" class="icon">
        <span class="fa fa-bars"></span>

    </label>
    <input type="checkbox" id="btn">

    <ul id="listviewheader">
        <li> <a href="/">HOME</a></li>
        <li><a href="/upload/">UPLOAD</a></li>

        <li>
            <label id="modes" for="btn-1" class="showlabel">Class INFO <i class="fas fa-caret-down"></i></label>
            <a> Class INFO</a>
            <input type="checkbox" id="btn-1">
            <ul>
                <li> <a href="/teacher/info/"> DETAILS</a></li>
            </ul>
        </li>
        <li>
            <label for="btn-2" class="showlabel">Account's <i class="fas fa-caret-down"></i></label>

            <a>Account's</a>
            <input type="checkbox" id="btn-2">
            <ul>
                <li> <a href="#">{{user}}</a></li>
                <li> <a href="/account/logout/">Logout</a></li>

                <li> <a href="https://github.com/engineerscodes/PROTO-SEEK/discussions">Feeback</a></li>
                <li> <a href="https://github.com/engineerscodes/PROTO-SEEK/blob/master/README.md">T&C</a></li>
            </ul>
        </li>
        <li><a href="https://github.com/engineerscodes/PROTO-SEEK">Contact</a></li>
    </ul>

</nav>


</div>